<div class="note-show-modal" data-controller="modal">
  <div class="modal-backdrop" data-action="click->modal#close"></div>
  <div class="modal-content">
    <div class="modal-header">
      <h2><%= note.title %></h2>
      <button class="close-button" data-action="modal#close">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="note-content">
        <%= render_markdown(note.content) %>
      </div>
    </div>
  </div>
</div> 